

.navbar {
	padding-top: initial;
	background-color: #9ec5fe;
}

.navbar-nav {
	padding: 2rem;
}

.navbar-expand-md .nav-link {
	padding-right: initial;
}

.pozvanka {
	min-width: 300px;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.safemail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.safephone:after {
	content: attr(data-number);
}